body {
  overflow: hidden;
}

.app {
  background: #000;
  color: #fff;
  letter-spacing: 0.08rem;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.globe,
.orbit,
.controls,
.label,
.pane,
.tt-sliders,
.tt-disc,
.tt-disc button,
.tt-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 1.2rem;
  margin: 0 0 1.5rem;
  color: #80CBC4;
}

.globe {
  height: calc(100% - 240px);
  width: 60%;
  left: 40%;
}
.orbit {
  width: 40%;
}
.controls {
  background: #00897b;
  height: 240px;
  top: auto;
  bottom: 0;
}
.label {
  width: 100%;
  height: 40px;
  text-align: center;
  top: 60px;
  left: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.tt-disc {
  width: 220px;
  height: 220px;
  left: 50%;
  top: 50%;
  margin-left: 160px;
  margin-top: -110px;
}
.tt-disc button {
  display: block;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  margin-left: -45%;
  margin-top: -45%;
  border-radius: 50%;
  border: none;
  background: #00695C;
  color: #fff;
  outline-color: #009688;
  letter-spacing: 1px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.tt-sliders {
  width: 400px;
  height: 80px;
  left: 50%;
  top: 50%;

  margin-top: -40px;
  margin-left: -285px;
}
.tt-sliders label {

}
.tt-slider-horz {
  width: 100%;
  height: 10px;
  position: relative;
}
.tt-slider-vert {
  width: 10px;
  height: 140px;
  position: relative;
}

.ui-slider {
  background: #004D40;
  margin: 30px 0 40px;
}
.ui-slider .ui-slider-handle {
  background: #80CBC4;
  position: absolute;
  outline-color: #009688;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.ui-slider .ui-slider-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  height: 30px;
  width: 20px;
  margin-top: -15px;
}
.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  height: 20px;
  width: 30px;
  margin-left: -15px;
}
