body {
  overflow: hidden;
}

.app {
  background: #212121;
  color: #fff;
  letter-spacing: 0.08rem;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.panes,
.controls,
.pane,
.messages,
.sliders,
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 1.2rem;
  margin: 0 0 1.5rem;
  color: #80CBC4;
}
.title {
  text-align: center;
}

.panes {
  height: calc(100% - 300px);
}
.messages {
  height: 100px;
  top: auto;
  bottom: 200px;
  text-align: center;
}
.messages p {
  font-size: 1.3rem;
  color: #9e622a;
  margin: 0;
}
.messages p.highlight {
  color: #f1a051;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}
.messages p.highlight strong {
  color: #fff;
  font-weight: bold;
}
.controls {
  background: #00897b;
  height: 200px;
  top: auto;
  bottom: 0;
}

.sliders {
  width: 100%;
  height: 200px;
  top: 50%;
  margin-top: -100px;
}
.slider {
  width: 30%;
  box-sizing: border-box;
  padding: 1rem 2rem;
}
.slider.left {
  text-align: center;
}
.slider.right {
  width: 70%;
  left: 30%;
}
.slider-horz {
  width: 100%;
  height: 10px;
  position: relative;
}
.slider-vert {
  width: 10px;
  height: 140px;
  position: relative;
}

.ui-slider {
  background: #004D40;
  margin: 20px 0 40px;
}
.ui-slider .ui-slider-handle {
  background: #80CBC4;
  position: absolute;
  outline-color: #009688;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.ui-slider .ui-slider-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  height: 30px;
  width: 20px;
  margin-top: -15px;
}
.ui-slider-vertical {
  margin-left: auto;
  margin-right: auto;
}
.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  height: 20px;
  width: 30px;
  margin-left: -15px;
}


/* Styles for dual mode */
.app {
  display: none;
}
.app.default,
.app.sender,
.app.receiver {
  display: block;
}

.app.sender .panes {
  display: none;
}
.app.sender .controls {
  height: 100%;
  top: 0;
  bottom: auto;
}
.app.sender .sliders {
  height: 80%;
  top: 10%;
}
.app.sender .slider.left {
  width: 30%;
}
.app.sender .slider.right {
  width: 70%;
  right: 0;
  left: auto;
  height: 300px;
  top: 50%;
  margin-top: -150px;
}
.app.sender .slider-horz {
  height: 20px;
}
.app.sender .slider-vert {
  width: 20px;
  height: 80%;
}
.app.sender .ui-slider-horizontal .ui-slider-handle {
  height: 60px;
  width: 40px;
  margin-top: -30px;
}
.app.sender .ui-slider-vertical .ui-slider-handle {
  height: 40px;
  width: 60px;
  margin-left: -30px;
}
.app.sender label {
  font-size: 1.8rem;
  margin: 0 0 3rem;
  display: block;
}

.app.receiver .panes,
.app.gamepad .panes {
  height: calc(100% - 100px);
}
.app.receiver .messages,
.app.gamepad .messages {
  bottom: 0;
}
.app.receiver .controls,
.app.gamepad .controls {
  display: none;
}
