body {
  overflow: hidden;
}

.app {
  background: #000;
  color: #fff;
  letter-spacing: 0.08rem;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.panes,
.controls,
.pane,
.titles,
.main-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  color: #fff;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
  margin: 1rem 0 0.5rem;
  color: #6d6e71;
}

.panes {
  height: calc(100% - 220px);
  max-height: 700px;
}
.pane,
.main-title {
  width: 1200px;
  height: calc(100% - 40px);
  top: 20px;
  left: 50%;
  margin-left: -600px;
}
.controls {
  background: #c4ced4;
  height: 220px;
  top: auto;
  bottom: 0;
}
.main-title {
  height: 40px;
  text-align: center;
}
.titles {
  width: 300px;
  left: 50%;
  margin-left: -600px;
}
.title {
  display: none;
}
.title.active {
  display: block;
}
.title h2 {
  font-size: 1.6rem;
  margin-top: 80px;
}
.title p {
  font-size: 1.2rem;
  line-height: 1.6;
}
.title.human h2 {
  color: #f1a051;
}

.buttons {
  box-sizing: border-box;
  padding: 0 5rem;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
.factors:first-child h2 {
  margin-top: 0.6rem;
}
.button-group button {
  display: block;
  float: left;
  width: 30%;
  height: 50px;
  text-align: left;
  border: 3px solid transparent;
  color: #fff;
  outline-color: #ccc;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  vertical-align: middle;
  margin-right: 5%;
}
.button-group button:last-child {
  margin-right: 0;
}
.button-group button svg {
  width: 12%;
  height: auto;
  display: block;
  float: left;
}
.button-group button svg path,
.button-group button svg rect,
.button-group button svg circle,
.button-group button svg polygon {
  fill: #fff;
}

.button-group button span {
  display: block;
  width: 75%;
  float: right;
  vertical-align: middle;
}
.button-group button:hover {
  border: 3px solid white;
}

/* button colors */
.button-group button:first-child { background: #29BECE; }
.button-group button:nth-child(2) { background: #FF8200; }
.button-group button:nth-child(3) { background: #ea4d4d; }
.human .button-group button:first-child { background: #a8b749; }
.human .button-group button:nth-child(2) { background: #5cad51; }

.button-group button.selected,
.human .button-group button.selected { background: #fff; }

.button-group button.selected:first-child { color: #29BECE; }
.button-group button.selected:nth-child(2) { color: #FF8200; }
.button-group button.selected:nth-child(3) { color: #ea4d4d; }
.human .button-group button.selected:first-child { color: #a8b749; }
.human .button-group button.selected:nth-child(2) { color: #5cad51; }

.button-group button.selected:first-child svg path, .button-group button.selected:first-child svg rect,
.button-group button.selected:first-child svg circle, .button-group button.selected:first-child svg polygon { fill: #29BECE; }
.button-group button.selected:nth-child(2) svg path, .button-group button.selected:nth-child(2) svg rect,
.button-group button.selected:nth-child(2) svg circle, .button-group button.selected:nth-child(2) svg polygon { fill: #FF8200; }
.button-group button.selected:nth-child(3) svg path, .button-group button.selected:nth-child(3) svg rect,
.button-group button.selected:nth-child(3) svg circle, .button-group button.selected:nth-child(3) svg polygon { fill: #ea4d4d; }
.human .button-group button.selected:first-child svg path, .human .button-group button.selected:first-child svg rect,
.human .button-group button.selected:first-child svg circle, .human .button-group button.selected:first-child svg polygon { fill: #a8b749; }
.human .button-group button.selected:nth-child(2) svg path, .human .button-group button.selected:nth-child(2) svg rect,
.human .button-group button.selected:nth-child(2) svg circle, .human .button-group button.selected:nth-child(2) svg polygon { fill: #5cad51; }


/* Styles for dual mode */
.app {
  display: none;
}
.app.default,
.app.sender,
.app.receiver {
  display: block;
}

.app.sender .panes {
  display: none;
}
.app.sender .controls {
  height: 100%;
  top: 0;
  bottom: auto;
}
.app.sender .buttons {
  height: 200px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
}

.app.receiver .panes,
.app.gamepad .panes {
  height: 100%;
  max-height: 700px;
}

.app.receiver .controls,
.app.gamepad .controls {
  display: none;
}

@media only screen and (min-height: 700px) {
  .panes {
    top: 30%;
    margin-top: -250px;
  }
  .app.receiver .panes,
  .app.gamepad .panes {
    top: 50%;
    margin-top: -350px;
  }
}
@media only screen and (min-width: 1800px) {
  .app.receiver,
  .app.gamepad {
    transform: scale(1.3);
  }
}
