body {
  overflow: hidden;
}

.app {
  background: #000000;
  color: #fff;
  letter-spacing: 0.08rem;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.core,
.timeline {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.core {
  height: 70%;
}

.timeline {
  height: 30%;
  top: auto;
  bottom: 0;
}
