body {
  overflow: hidden;
}

.app {
  background: #212121;
  color: #fff;
  letter-spacing: 0.08rem;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.panes,
.controls,
.pane,
.titles,
.sliders,
.slider,
.slider-labels,
.main-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  color: #fff;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
  margin: 0 0 1.5rem;
  color: #80CBC4;
}

.panes {
  height: calc(100% - 300px);
}
.pane,
.slider,
.main-title {
  width: 900px;
  height: calc(100% - 40px);
  top: 20px;
  left: 50%;
  margin-left: -325px;
}
.controls {
  background: #00897b;
  height: 300px;
  top: auto;
  bottom: 0;
}
.main-title {
  height: 40px;
  text-align: center;
}
.titles {
  width: 300px;
  left: 50%;
  margin-left: -600px;
}
.title {
  display: none;
}
.title.active {
  display: block;
}
.title h2 {
  font-size: 1.6rem;
  margin-top: 80px;
}
.title p {
  font-size: 1.2rem;
  line-height: 1.6;
}
.title.human h2 {
  color: #f1a051;
}


.slider {
  width: 760px;
  margin-left: -240px;
}
.slider-horz {
  width: 95%;
  height: 10px;
  position: relative;
}
.slider-vert {
  width: 10px;
  height: 180px;
  position: relative;
}

.slider-labels {
  width: auto;
  height: 140px;
  left: 40px;
}
.slider-labels ul {
  list-style: square;
  margin: 0 0 0 30px;
  padding: 0;
}
.slider-labels li {
  margin-bottom: 0.36rem;
}

.data-knob {
  text-align: center;
}
.data-knob svg {
  width: 55%;
  min-width: 300px;
  display: inline-block;
  cursor: pointer;
}
.data-knob svg #dial {
  transform-origin: 50% 50%;
}

.ui-slider {
  background: #004D40;
}
.ui-slider .ui-slider-handle {
  background: #80CBC4;
  position: absolute;
  outline-color: #009688;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.ui-slider-horizontal {
  margin: 20px 0 20px;
}
.ui-slider-vertical {
  margin: 20px 10px 0;
}
.ui-slider .ui-slider-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  height: 30px;
  width: 20px;
  margin-top: -15px;
}
.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  height: 20px;
  width: 30px;
  margin-left: -15px;
}

/*.radio-group {
  padding-top: 1rem;
}
.radio-group label {
  display: inline-block;
  margin-right: 1rem;
  color: #004D40;
}
.radio-group label span{
  position:relative;
  padding-left:20px;
}
.radio-group label span:after{
  content:'';
  width:15px;
  height:15px;
  border:3px solid;
  position:absolute;
  left:0;
  top:1px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.radio-group input[type="radio"]{
   cursor: pointer;
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.radio-group input[type="radio"]:checked + span{
  color: #fff;
}
.radio-group input[type="radio"]:checked + span:before{
    content:'';
  width:5px;
  height:5px;
  position:absolute;
  background: #fff;
  left:5px;
  top:6px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}*/
